.app {
  text-align: center;
}

.app .header-content{
  padding: 30px 10px;
  background: linear-gradient(270deg, #f37021 1.91%, #ef414a 48.18%, #ed0c6e 95.42%);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-name{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.add-task-btn{
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  padding: 0 26px;
  background: #171efd;
  color: #fff;
  text-align: left;
  cursor: pointer;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #171efd;
}

.task-list {
  margin: 20px auto;
  width: 100%;
}

.task-name-header{
  text-align:left ;
  padding-left: 20px;
}



.task {
  border: 3px solid #ffefcf;
  border-radius: 4px;
  background: #ffefcf;
}

.task-content {
  padding-left: 20px;
  text-align: left
}

.task-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content form{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
}
.modal-content form div label {
  color: #181912;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: -.16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 9px;
}
.modal-content form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 9px;
}
.modal-content form div input{
  height: 35px;
  border-radius: 4px;
  border: 1px solid #dadee0;
}

input[type="checkbox"] {
  height: 30px;
  width: 25px;
}
.modal-content form div select {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #dadee0;
}
.modal-content form textarea {
  height: 90px;
  border-radius: 4px;
  border: 1px solid #dadee0;
}
.modal-content form .btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn .add-task-btn{
  margin-left: 20px;
}
.priority-tag{
  display: inline;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
  color: white;
}
.priority-tag.high {
  background-color: #c51212;
  border: 1px solid #c51212;
}

.priority-tag.medium {
  background-color: #ffa726;
  border: 1px solid #ffa726;
}

.priority-tag.low {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
@media (max-width: 580px) {
  .modal-content form{
    width: 320px;
  }
}